{% extends 'main.html.twig' %}

{% block title %}Links index{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Links index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Href</th>
                <th>Alt</th>
                <th>Name</th>
                <th>Icon</th>
                <th>Enable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td>{{ link.id }}</td>
                <td>{{ link.href }}</td>
                <td>{{ link.alt }}</td>
                <td>{{ link.name }}</td>
                <td>{{ link.icon }}</td>
                <td>{{ link.enable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('links_show', {'id': link.id}) }}">show</a>
                    <a href="{{ path('links_edit', {'id': link.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('links_new') }}">Create new</a>

    </div>
{% endblock %}
